<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=0.5, target-densitydpi=device-dpi, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }

        table {
            border-spacing: 0;
        }

        table td {
            border-collapse: collapse;
        }

        .yshortcuts a {
            border-bottom: none !important;
        }

        .hline {
            width: 100%;
        }


        /* Constrain email width for small screens */
        @media screen and (max-width: 660px) {
            table[class="container"] {
                width: 95% !important;
            }

            img[class="hline"] {
                width: 100%;
            }
        }

        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            td[class="container-padding"] {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            img[class="hline"] {
                width: 100%;
            }
        }

        /* Styles for forcing columns to rows */
        @media only screen and (max-width : 660px) {

            /* force container columns to (horizontal) blocks */
            td[class="force-col"] {
                width: 100% !important;
                display: block;
                padding-right: 0 !important;
            }

            table[class="col-1"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;
            }

            table[class="col-2"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 95% !important;
            }

            /* remove bottom border for last column/row */
            table[class="row2col-2"] {
                /* unset table align="left/right" */
                float: none !important;
                width: 100% !important;
            }

            table[id="last-col-2"] {
                float: none !important;
                border-bottom: none !important;
                margin-bottom: 0;
            }

            /* align images right and shrink them a bit */
            img[class="col-2-img"] {
                float: right;
                margin-left: 6px;
                max-width: 130px;
            }

            img[class="main-img"] {
                width: 100%;
            }

            img[class="hline"] {
                width: 100%;
            }

            img[class="col-main-img"] {
                width: 100%;
            }
        }

        sup {
            line-height: 1;
            font-size: 70%;
            vertical-align: top;
            mso-text-raise: 60%;
        }
    </style>
</head>

<body style="margin:0;" topmargin="0" marginwidth="0" marginheight="0" leftmargin="0">
    <table height="100%" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#dfdfdf">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td align="center" valign="top">
                                <table style="" class="container" width="600" cellspacing="0" cellpadding="0" border="0"
                                    bgcolor="#FFFFFF">

                                    <tr>
                                        <td>
                                            <img src="http://localhost:8080/sample/images/ENB-01.png" width="auto" height="auto">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div
                                                style="padding: 15px 20px; margin-left: 15px; color: #e02826; text-align: start; font-size: 28px; font-weight: 800;">
                                                The impact of migraine can go <br />
                                                beyond frequency of attacks<sup>1</sup>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <div
                                                    style="display: flex; align-items: center; flex-direction: column; gap:10px; color: #5b5f62;">
                                                    <img src="http://localhost:8085/sample/images/ENB-02.png" width="auto" height="auto">
                                                    <span style="margin-top:15px;">*From the population of patients who
                                                        self reported medical
                                                        diagnosis</span>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="background: #f8f7f6;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div
                                                style="display: flex; align-items: center; justify-content: space-evenly; padding-top: 20px; padding-bottom: 10px;">
                                                <div style="display: flex;  gap:20px; flex-direction: column;">
                                                    <span
                                                        style="padding-left:20px; padding-right:20px; font-size: 20px; font-weight: 800; color: #e32726; ">
                                                        Galcanezumab Can Provide Reliable Migraine Headache
                                                        Day (MHD) Reduction<sup>4</sup>
                                                    </span>
                                                    <span style="padding-left:20px; padding-right:20px;">
                                                        Up to 44% of patients achieved a 75% reduction in MHDs at month
                                                        66
                                                    </span>
                                                    <img src="http://localhost:8085/sample/images/ENB-03.png" width="auto" height="auto">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="background: #f8f7f6;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div
                                                style="display: flex; align-items: center; justify-content: space-evenly; padding-top: 20px; padding-bottom: 10px;">
                                                <div style="display: flex;  gap:20px; flex-direction: column;">
                                                    <span
                                                        style="padding-left:20px; padding-right:20px; font-size: 20px; font-weight: 800; color: #e32726; ">
                                                        Galcanezumab can Provide Reliable Migraine Headache
                                                        Day (MHD) Reduction in the Long Term<sup>5</sup>
                                                    </span>
                                                    <span style="padding-left:20px; padding-right:20px;">
                                                        Overall Mean Change From Baseline in the Number of Monthly
                                                        Migraine
                                                        Headache Days (MHDs)<sup>5</sup>
                                                    </span>
                                                    <img src="http://localhost:8085/sample/images/ENB-04.png" width="auto" height="auto">
                                                    <span
                                                        style="padding-left:20px; padding-right:20px; font-size: 18px; font-weight: 700; color: #e32726; ">12
                                                        Months<br>
                                                    </span>
                                                    <span
                                                        style="color: black; padding-left:20px; padding-right:20px; font-size: 14px">
                                                        Over months 1 to 12, the overall mean reduction in the
                                                        number of monthly MHDs compared to
                                                        baseline was 5.6 (baseline: 9.7).<sup>5</sup>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="background: #f8f7f6;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div
                                                style="display: flex; align-items: center; justify-content: space-evenly; padding-top: 20px; padding-bottom: 10px;">
                                                <div style="display: flex;  gap:20px; flex-direction: column;">
                                                    <span
                                                        style="padding-left:20px; padding-right:20px; font-size: 20px; font-weight: 800; color: #e32726; ">
                                                        Galcanezumab Provides Quick and Consistent Response<sup>6</sup>
                                                    </span>
                                                    <span style="padding-left:20px; padding-right:20px;">
                                                        Onset of Effect for Galcanezumab since the First Day Following
                                                        the Initial Injection<sup>6</sup>
                                                    </span>
                                                    <img src="http://localhost:8085/sample/images/ENB-05.png" width="auto" height="auto">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="background: #f8f7f6;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div
                                                style="display: flex; align-items: center; justify-content: space-evenly; padding-top: 20px; padding-bottom: 10px;">
                                                <div style="display: flex;  gap:20px; flex-direction: column;">
                                                    <span
                                                        style="padding-left:20px; padding-right:20px; font-size: 20px; font-weight: 800; color: #e32726; ">
                                                        Consistently Maintains Efficacy from Week to Week Between
                                                        Monthly Dosing<sup>7,8</sup>
                                                    </span>
                                                    <span style="padding-left:20px; padding-right:20px;">
                                                        Change from baseline in weekly Migraine headache days
                                                        (MHDs)<sup>7</sup>
                                                    </span>
                                                    <img src="http://localhost:8085/sample/images/ENB-06.png" width="auto" height="auto">
                                                    <span
                                                        style="color: black; padding-left:20px; padding-right:20px; font-size: 14px">
                                                        Mean changes from baseline in weekly migraine headache days for
                                                        each treatment group were
                                                        estimated using MMRM analysis.<sup>7</sup>
                                                    </span>
                                                    <span
                                                        style="color: black; padding-left:20px; padding-right:20px; font-size: 14px">
                                                        LS = least squares. Post-hoc analysis.</sup>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="background: #f8f7f6;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div
                                                style="display: flex; align-items: center; justify-content: space-evenly; padding-top: 20px; padding-bottom: 10px;">
                                                <div style="display: flex;  gap:20px; flex-direction: column;">
                                                    <span
                                                        style="padding-left:20px; padding-right:20px; font-size: 20px; font-weight: 800; color: #e32726; ">
                                                        Galcanezumab Demonstrated a Consistent Safety
                                                        Profile Across Five Phase 3 Clinical Studies with Over
                                                        2500 Patients<sup>9-14</sup>
                                                    </span>
                                                    <span style="padding-left:20px; padding-right:20px;">
                                                        Discontinuation rates
                                                    </span>
                                                    <img src="http://localhost:8085/sample/images/ENB-07.png" width="auto" height="auto">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="background: #f8f7f6;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div
                                                style="display: flex; align-items: center; justify-content: space-evenly; padding-top: 20px; padding-bottom: 10px;">
                                                <div style="display: flex;  gap:20px; flex-direction: column;">
                                                    <span
                                                        style="padding-left:20px; padding-right:20px; font-size: 20px; font-weight: 800; color: #e32726; ">
                                                        Galcanezumab Showed Significant Improvement in the
                                                        Burden of Migraine in Between Attacks<sup>1</sup>
                                                    </span>
                                                    <span style="padding-left:20px; padding-right:20px;">
                                                        Mean reduction from baseline in MIBS-4 scores at month
                                                        3<sup>1,a</sup>
                                                    </span>
                                                    <div style="display: flex; gap:20px; padding: 0 16px;">
                                                        <img src="http://localhost:8085/sample/images/ENB-08.png" width="auto" height="auto">
                                                        <div style="font-size: 15px;">
                                                            The burden of migraine in between
                                                            attacks can be measured using the
                                                            migraine interictal burden scale-42
                                                            MIBS-4 is a self-administered 4-item
                                                            questionnaire. Patients are asked to
                                                            answer statements related to the
                                                            burden of migraine in between attacks

                                                            <br>
                                                            MIBS4= Migraine Interictal Burden Scale-4.
                                                            <br>
                                                            <sup>a</sup>
                                                            LS means are presented.
                                                            <sup>
                                                                b
                                                            </sup>
                                                            Nominal p-value 0.001 vs placebo.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td height="10">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="padding: 0 50px; font-size: 9px;">
                                            <b>References: 1.</b> Buse DC, Rupnow MF, Lipton RB. Assessing and managing
                                            all
                                            aspects of migraine: migraine attacks,
                                            migraine-related functional
                                            impairment, common comorbidities, and quality of Iife. Mayo Clin Proc.
                                            2009;84:422-435. <b>2.</b> Lipton R, Stewart W, Diamond
                                            S, et al. Prevalence
                                            and burden of migraine in the United States: data from the American Migraine
                                            Study Il. Headache. 2001;41(7 ): 646-657.
                                            <b>3.</b> Lipton, R. B., Nelson,
                                            A. M., Nicholson, R. A., Zagar, A., Kim, Y., Pascual, J., Evers E, Hirata K;
                                            Pearlman, E.(2021, September). Migraine
                                            Diagnosis, Disability, and
                                            Work Productivity Impact in Migraine: Results of the OVERCOME
                                            (International) Study. In Journal Of Headache And
                                            Pain.(Vol. 22, No. Suppl 2).
                                            <b>4.</b> Rosen N, Pearlman E, Ruff D, Day K, Nagy AJ. 100% response rate to
                                            galcanezumab in patients with episodic migraine: A
                                            post hoc analysis
                                            of the results from phase 3, randomized, double-blind, placebo-controlled
                                            EVOLVE-1 and EVOLVE-2 studies. Headache.
                                            2018;58(9):1347-1357.
                                            <b>5.</b> Camporeale A, Kudrow D, Sides R, et al. A phase 3, long-term,
                                            open-label
                                            safety study of galcanezumab in patients
                                            with migraine. BMC Neurol.
                                            2018;18(1):188. doi:10.1186/sl2883-018-1193-2. <b>6.</b> Schwedt T, Kuruppu
                                            D, Dong
                                            Y, Standley K, Yunes-Medina L, Pearlman E.
                                            Early onset of
                                            effect following galcanezumab treatment in patients with previous preventive
                                            medication failures. J Headache Pain.
                                            2021;22:(1):15. <b>7.</b> Samaan K,
                                            Pozo-Rosich P, Nicholson R, Rathmann S, Pearlman E. Consistency of
                                            galcanezumab efficacy throughout a month over time.
                                            Presentation
                                            International Headache Society Congress, September 2019 IHC-LB-033.
                                            <b>8.</b>
                                            Pozo-Rosich et al, Galcanezumab Provides
                                            Consistent Efficacy
                                            Throughout the Dosing Interval Among Patients with Episodic and Chronic
                                            Migraine: A Post Hoc Analysis. Adv Ther 2021.<b>9.</b>
                                            Emgality product
                                            information USPI. 10. Stauffer VL, Dodick DW, Zhang Q, et al. Evaluation of
                                            galcanezumab for the prevention of episodic
                                            migraine: the EVOLVE-1
                                            randomized clinical trial. JAMA Neurol. 2018:7 5(9):1080- 1088. <b>10.</b>
                                            Stauffer
                                            VL, Dodick DW, Zhang Q, et al. Evaluation
                                            of galcanezumab for the
                                            prevention of episodic migraine: the EVOLVE-1 randomized clinical trial.
                                            JAMA Neurol. 2018:7 5(9):1080- 1088. <b>11.</b> Detke
                                            HC, Goadsby PJ, Wang
                                            S, et al. Galcanezumab in chronic migraine: the randomized, double-blind,
                                            placebo-controlled REGAIN study. Neurology.
                                            2018;91(24):e2211-e2221. <b>12.</b> Bangs ME, Kudrow D, Wang S, et al.
                                            Safety and
                                            tolerability of monthly galcanezumab
                                            injections in patients with
                                            migraine: integrated results from migraine clinicaI studies. BMC Neurol.
                                            2020;20:90. doi:10.1186/sl2883-020-1609-7. <b>13.</b>
                                            Mulleners WM, Kim BK,
                                            Lainez MJA, et al. Safety and efficacy of galcanezumab in patients for whom
                                            previous migraine preventive medication from
                                            two to four categories
                                            had failed (CONQUER): a multicentre, randomised, double-blind,
                                            placebo-controlled, phase 3b trial. Lancet Neurol.
                                            2020;19:814-825. <b>14.</b> Skljar- evski V, Matharu M, Millen BA, et al.
                                            Efficacy
                                            and safety of galcanezumab for the
                                            prevention of episodic migraine: results of the EVOLVE-2 Phase
                                            3 randomized controlled clinicaI triaI. Cephalalgia.
                                            2018;38(8):1442-1454.756-7 74
                                            <br>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td height="10" style="background: #f8f7f6;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style=" padding: 0 20px;">
                                            <hr />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" style="padding: 0 50px; font-size: 12px;">
                                            <div>
                                                PP-GZ-AE-0571 |<a href="https://www.lillyprivacy.com/mea-en/hcp">Privacy
                                                    Policy</a>
                                            </div>
                                            <div>

                                                You are receiving this email because you have previously registered to
                                                receive information from Lilly. The content and
                                                web links contained in this email may be promotional in nature. If you
                                                wish
                                                to stop receiving emails from Lilly, to
                                                unsubscribe <a
                                                    href="https://ccp.lilly.com/links/use?Country=AE&LanguageCode=en-AE&ConsentValueCode=OUT&ConsentTypeCode=EMAIL&ConsentEntitlementCode=CMRCL&ExternalIdentifierSystemCode=Salesforce%20Marketing%20Cloud&GccpCustomerId=%25%25GCCP_encryption_token%25%25&CommunicationAddress=%25%25emailaddr%25%25&ExternalIdentifierIdn=%25%25jobid%25%25">
                                                    click here</a>
                                            </div>
                                            <div>
                                                © 2023 Eli Lilly and Company. All Rights Reserved.
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p style="padding: 0 50px; font-size: 12px; ">
                                                © 2023 Eli Lilly and Company. All Rights Reserved. </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td
                                            style="padding: 20px 50px; font-size: 12px; display: flex; color: #fff;background: #817870; flex-direction: row; gap: 30px; align-items: flex-start; ">
                                            <div>
                                                For adverse events and safety reporting, please send an email:
                                                PV-MEA@lilly.com
                                                For product complaints, please send an email: lbmail_pc_mena@lilly.com
                                                <br />
                                                <span style="height: 10px;" />
                                                For further information about Lilly and Lilly products please contact us
                                                at the below address: <br>
                                                UAE: Bldg. 25 - 6th Floor, Dubai Health Care City, Dubai, UAE.P.O. Box
                                                #25319, <br>
                                                Tel.: (+971 4) 4537800, Fax: (+971 4) 436 239
                                            </div>
                                            <img src="http://localhost:8085/sample/images/ENB-09.png" width="auto" height="50px" align="center">
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>